form {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}
table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="submit"] {
    margin-top: 10px;
}
