button{
    border-radius: 10px;
    border-color: #154360;
    background-color: #3498DB;
    border-style: solid;
    border-width: 2px;
}

button:hover{
    opacity: 0.82;
    transition: opacity 0.15s;
}