#section {
    padding: 20px;
}

#section h2 {
    margin-top: 40px;
    font-size: 24px;
    color: #333;
}

#section2 {
    margin-bottom: 20px;
}

#section2 h2 {
    font-size: 20px;
    color: #666;
    padding-left: 20px;
}

#section2 p {
    padding-left: 20px;
    color: #555;
}

#Musculation, #Fitness, #Biking, #Cardio-Training, #Cours-Collectifs, #Basketball, #Football, #Rugby, #Tennis, #Natation, #Plongeon, #Regles, #Horaire{
    margin-left: 5%; /* Ajustez la valeur selon vos besoins */
}

.coach-btn {
    padding: 10px 20px; /* Ajoute un padding en haut et en bas */
    margin: 10px; /* Ajoute un espacement autour des boutons */
    border: none; /* Supprime la bordure par défaut */
    border-radius: 5px; /* Ajoute des coins arrondis */
    font-size: 18px; /* Augmente la taille du texte */
}
